<div class="row">
    <div class="col-xs-12">
        <hr>
        <ul class="list-group" >
            <div class="list-group-item" *ngFor="let ingredient of ingredients; let i = index">
                <a 
                style="cursor:pointer" 
                
                (click)="selectTriggered(i)">
            >
            {{ ingredient.name}} ({{ingredient.amount}})  
            </a>
            <fa-icon [icon]="faX" (click)="removeTriggered(ingredient.id)" class="float-end"></fa-icon>
            </div>
        </ul>
    </div>
</div>