<div class="row">
    <div class="col-xs-12"><img src="" alt=""></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{recipe.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">To Shopping list</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img [src]="recipe.imagePath" alt="{{recipe.name+'\n'+recipe.description}}" 
                class="img-responsive" 
                style="width: 33%;
                        max-width: 255px;
                        float: left;
                        border: thin solid #b5b5b5;
                        margin-right: 5px;
                        margin-top: 5px;"
            >
            {{recipe.description}}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <hr>
        <app-shopping-edit [ingredient]="ingredient">
        </app-shopping-edit>
        <app-shopping-list [ingredients]="recipe.ingredients"></app-shopping-list>
    </div>
</div>