<div class="row">
    <div class="col-xs-12">
        <form #form="ngForm">
            <div *ngIf="ingredient!==null" class="row">
                <div class="col-sm-5 from-group">
                    <label for="name">Name</label>
                    <div class="input-group mb-3">
                        <input [placeholder]="'ex: '+exemple" [aria-label]="'ex: '+exemple" type="text" id="name" name="name" class="form-control" [(ngModel)] ="ingredient.name">
                        <button *ngIf="ingredient !== null && ingredient.name !== ''" class="btn btn-primary" title="clear" type="button" (click)="clearTriggered()"><fa-icon [icon]="faEraser"></fa-icon>
                        </button>
                    </div>
                </div>

                <div class="col-sm-2 from-group">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" name="amount" class="form-control" [(ngModel)] ="ingredient.amount">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" title="add" type="button" (click)="addTriggered()"><fa-icon [icon]="faPlus"></fa-icon></button>
                    <button *ngIf="ingredient !== null && ingredient.id >-1" class="btn btn-primary" title="edit" type="button" (click)="editTriggered()"><fa-icon [icon]="faFloppyDisk"></fa-icon></button>
                </div>                
            </div>
        </form>
    </div>
</div>